## Pandas

In [1]:
import pandas as pd
import numpy as np

In [8]:
pd.Series([1,2,3, 'jadi', 0, np.nan, -1])

0       1
1       2
2       3
3    jadi
4       0
5     NaN
6      -1
dtype: object

In [3]:
dates = pd.date_range("20240101", periods=6)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2024-01-01  0.470765  1.078549  1.907844  0.849005
2024-01-02 -0.565239  0.218250  0.232703  0.730793
2024-01-03  0.449145  0.634506 -1.046647 -0.455126
2024-01-04 -0.133494 -0.484287 -0.086907 -0.794409
2024-01-05  0.806122  0.461019 -0.325563  2.705357
2024-01-06  0.276812 -2.225589 -1.478476 -0.252029

In [34]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.450753  0.221205  0.293293  0.575270
std    1.494611  0.804149  1.231312  0.978352
min   -1.967675 -1.304176 -0.668931 -0.407149
25%   -0.011412  0.211509 -0.588074 -0.106035
50%    0.673026  0.368095 -0.189141  0.239636
75%    0.907459  0.640568  0.747369  1.312557
max    2.580097  1.004507  2.468481  1.930555

In [35]:
df.mean()

A    0.450753
B    0.221205
C    0.293293
D    0.575270
dtype: float64

In [40]:
df.T

   2024-01-01  2024-01-02  2024-01-03  2024-01-04  2024-01-05  2024-01-06
A    0.922766   -1.967675    0.484517    2.580097    0.861536   -0.176722
B    1.004507   -1.304176    0.312383    0.712822    0.177884    0.423807
C   -0.636138    2.468481    0.974626   -0.443881   -0.668931    0.065600
D    0.172436    1.930555    1.647798    0.306836   -0.407149   -0.198858

In [39]:
df.sort_values(by="B")

                   A         B         C         D
2024-01-02 -1.967675 -1.304176  2.468481  1.930555
2024-01-05  0.861536  0.177884 -0.668931 -0.407149
2024-01-03  0.484517  0.312383  0.974626  1.647798
2024-01-06 -0.176722  0.423807  0.065600 -0.198858
2024-01-04  2.580097  0.712822 -0.443881  0.306836
2024-01-01  0.922766  1.004507 -0.636138  0.172436

In [41]:
df[df["A"] > 0]

                   A         B         C         D
2024-01-01  0.922766  1.004507 -0.636138  0.172436
2024-01-03  0.484517  0.312383  0.974626  1.647798
2024-01-04  2.580097  0.712822 -0.443881  0.306836
2024-01-05  0.861536  0.177884 -0.668931 -0.407149

## read and write operation

In [18]:
df.to_csv("filee.csv")

In [19]:
pd.read_csv("filee.csv")

   Unnamed: 0         A         B         C         D
0  2024-01-01  0.470765  1.078549  1.907844  0.849005
1  2024-01-02 -0.565239  0.218250  0.232703  0.730793
2  2024-01-03  0.449145  0.634506 -1.046647 -0.455126
3  2024-01-04 -0.133494 -0.484287 -0.086907 -0.794409
4  2024-01-05  0.806122  0.461019 -0.325563  2.705357
5  2024-01-06  0.276812 -2.225589 -1.478476 -0.252029